name: "CI Tests"

on: "pull_request"

jobs:
  build:
    name: "Ruby ${{ matrix.ruby }}, Rails ${{ matrix.rails }}"

    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4"]
        rails: ["7.2", "8.0", "8.1", "main"]

    env:
      RAILS_VERSION: "${{ matrix.rails }}"

    steps:
    - uses: "actions/checkout@v2"

    - name: "Install Ruby ${{ matrix.ruby }}"
      uses: "ruby/setup-ruby@v1"
      with:
        rubygems: "3.3.13"
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true

    - name: "Minitest support"
      run: bin/test

    - name: "RSpec support"
      run: bundle exec rspec
